body {
    background-color : whitesmoke;
    font-family: 'THSarabunNewRegular';
}

.container {
    background-color : #343a40;
    color: white ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content .fas {
    font-size: xx-large ;
}

#content .fas.fa-circle {
    font-size: small ;
    margin-left: 2px ;
    margin-right: 2px ;
}

.header img {
    height: 100px ;
    width: 100px ;
}

.step-current {
    color : lime ;
}

.step {
    color : green ;
}

.alert.alert-danger {
    font-size: 1.5rem ;
}

.slide-out {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
