::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background-color: var(--light);
    margin-bottom: 1px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    margin-top: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  outline: 1px solid var(--light);
}

body {
    background-color: whitesmoke;
    font-family: 'THSarabunNewRegular';
}

textarea {
    font-family: var(--font-family-monospace, monospace);
    font-size: small!important ;
}

/* settings */
#json-input-label {
    white-space: nowrap;
    overflow-x: hidden;
}
#accounts-table-body td {
    vertical-align: middle;
}

/* common */
.pp-dun {
    white-space: nowrap;
}

/* account selected */
.main-blockies canvas {
    height: 100px;
    border-radius: 50px !important;
}
.account-hash-home {
    width: 80%;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
#balance-home {
    font-size: 32px;
}

/* accounts */
.account-list {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

/* forms */
.home-form-container {
    min-width: 445px;
    width: 75%;
    min-height: 250px;
}
.confirm-operation-form {
    text-align: center !important;
}
.input-prepend {
    width: 110px;
}
.input-append {
    width: 50px;
}
.custom-checkbox {
    width: 250px;
}


/* tables */
.table {
    margin-bottom: 0;
}
.account-w-blockies {
    white-space: nowrap;
}
.account-w-blockies canvas {
    height: 16px;
    margin: 0 4px;
    vertical-align: text-bottom;
    border-radius: 8px !important;
}

div.d-none * {
    display :none ;
}
.alert-primary {
    font-size : 20px ;
}
.alert-primary h3 {
    font-weight: bold ;
}
.alert-primary img {
    weight: 30px ;
    height: 30px ;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 22px 16px;
    border-radius: 35px;
    font-size: 20px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
}

.notif-list canvas, .notif-list img {
    height: 30px;
}

.notif-list > div {
    border-bottom : 1px solid lightgrey ;
}

.notif-list .pp-dun {
    font-size: x-large ;
    color: var(--danger) ;
}

.tr-infos {
    font-size: x-large ;
}

#amount .currency img {
    height:50px ;
}

#amount .pp-dun {
    font-size: xx-large ;
}

#amount .flex-fill {
    text-align: center ;
}
#script .flex-fill .param span,
#storage .flex-fill .param span,
#codehash .flex-fill .param span {
    text-align: center ;
}
#script .param pre,
#storage .param pre,
#codehash .param pre {
    font-size: x-small ;
    font-weight: 300 ;
    white-space: pre-wrap ;
    word-break: break-all ;
    max-height: 90px ;
    background-color: lightblue;
    margin-bottom: 0;
}

.tab-content > div {
    height : 120px ;
}

.fa-level-down-alt {
    transform: scaleX(-1) ;
    -webkit-transform: scaleX(-1) ;
}

.fa-question-circle {
    font-size : 42px ;
}

.modal .modal-content {
    background-color: whitesmoke;
}

.modal .modal-content {
    height:600px !important;
}

.modal .modal-body {
    font-size: 16px ;
    font-weigth: 400 ;
}

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.2s infinite both;
	        animation: rotate-90-cw 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.2s infinite both;
}
.account-blockies canvas {
    height: 42px;
    border-radius: 25px !important;
}
.account-blockies.filler canvas {
    height: 42px;
    border-radius: 25px !important;
}


.delegation canvas {
    height: 15px;
    border-radius: 25px !important;

}

.delegation .account-blockies {
    line-height:4px ;
}

.delegation .old-delegate {
    color : red ;
}

.delegation .old-delegate span {
    text-decoration: line-through ;
}

.delegation .new-delegate {
    color : green ;
}

