$main-popup-width: 357px ;
$main-popup-height: 600px ;
$notif-popup-width: 360px ; // Change in src/background/notification.ml
$notif-popup-height: 600px ; // Change in src/background/notification.ml
$notif-popup-border-color : #949494;
$header-background-color : #efefef ;
$body-background-color : white ;

html {
    width:$main-popup-width;
    height:$main-popup-height;
}

body {
    width:$main-popup-width;
    height:$main-popup-height;
    margin: 0;
}

.header-top {
    background: -webkit-gradient(linear, left top, right bottom, from(#aaeaf1), to(#429cea));
    width: 100%;
    height: 60px;
    line-height: normal;
}

.header-logo img {
    height: 50px;
    padding: 10px;
}

.header-network {
    padding: 10px;
}

.header-options {
    padding-top: 5px;
    font-size: 30px;
    margin-left: -25px;
}

.header-options i {
    margin-left: -10px;
    color: black;
}

.header-account {
    background: #dcf3ff;
    width: 100%;
    height: 60px;
    line-height: normal;
}

.header-account-options i {
    padding: 10px;
    color: black;
}

.header-account-info {
    padding: 10px;
}

.header-account-view-option i {
    margin-left : -20px;
    padding: 10px;
    color: black;
}

.main-dune-logo img {
    height: 90px;
    margin-top: 45px;
}

.main-balance {
    font-size: 40px;
}

.main-buttons button {
    margin: 10px;
    border: 2px solid #B0D7F2 ;
    background-color: white;
    color: #037DD6;
    width: 100px;
}

.history-operation {
    padding: 5px;
    border-bottom: 1px solid black;
}

.history-timestamp {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    text-align: right;
}

.history-blockies {
    margin-left: 10px;
}

.account-w-blockies canvas {
    border-radius: 25px !important;
    height: 42px;
}

.history-message {
    font-size: 12px;
    padding-top: 10px;
}

.history-amount {
    font-size: 26px;
    text-align: right;
    margin-left: -15px;
}

.history-confirmation {
    margin-bottom: 5px;
    margin-left: 6px;
    margin-top: 8px;
}

.history-confirmation span {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 12px;
}

.failed {
    background-color: #f1bbbb;
    border: 1px solid #ff000052;
}

.confirmed {
    background-color: #b0f7b0;
    border: 1px solid #2eff2e;
}

#header-account {
  border-bottom: 1px solid black;
}

#account-alias {
    margin-top: 5px;
    margin-bottom: 0px;
}

#account-pkh {
    font-size: 8px;
}


#main-view {
    width: 100% ;
    height: 300px;
    border-bottom: 1px solid black;
}

#main-balance-value {
    font-size: 30px;
}

#history {
    width: 100%;
    height: 180px;
}

#loading {
    padding-top: ($notif-popup-height - 190px) * 0.5;
}

#loading_logo {
    height: 120px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px ;
}

#loading_spinner {
    height: 40px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body.notification {
    width: $notif-popup-width ;
    height: $notif-popup-height ;
}

.popup-header {
    background-color: $header-background-color ;
    border-bottom: 1px solid $notif-popup-border-color ;

    span {
        text-align:center ;
    }

    img {
        width : 45px ;
        height: 45px ;
        padding: 5px ;
    }

}

.popup-body {
    min-height : $notif-popup-height - 50px ; // 50 for header + 150 for confirm box
    img {
        height : 42px ;
        width : 42px ;
    }
    .connection-req, .approve-acc {
        height: 200px ;
        padding-top : 40px ;
        span {
            display: block ;
        }
    }
    .approve-desc {
        padding: 10px ;
        border-bottom: 1px solid $notif-popup-border-color ;
    }
    .btn {
        margin-top : 25px ;
        margin-bottom : 25px ;
        height: 50px ;
    }
}
